<div ng-cloak>
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center"><h1>Pikiran Rakyat Event</h1>
                <p class="lead">Dari Rakyat, Oleh Rakyat, Untuk Rakyat</p><a class="btn btn-lg btn-primary"
                                                                             href="#/user-event/create"
                                                                             ui-sref="user-event.create"><i
                    class="fa fa-calendar fa-fw" aria-hidden="true"></i> Create Event</a></div>

        </div>
        <!--<div uib-carousel active="0" interval="vm.myInterval" no-wrap="false" class="carousel">-->
        <!--<div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">-->
        <!--<img ng-src="{{slide.image}}" class="img-responsive center-block">-->
        <!--<div class="carousel-caption">-->
        <!--<h4>Slide {{slide.id}}</h4>-->
        <!--<p>{{slide.text}}</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="row">
        <div ng-repeat="event in vm.events | orderBy:'-starts'">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4">

                <!--<h2>{{event.title}}</h2>-->
                <!--<p>{{event.description}}</p>-->
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                <div class="box box-widget">
                    <div class="box-body center-block">
                        <img class="img-responsive" src="http://lorempixel.com/640/480/sports">
                        <span style="color:#999;font-size: 13px">
                                {{event.starts | date:'dd/MM/yy hh:mm:ss'}}
                            </span>
                        <span><h3><b>{{event.title}}</b></h3></span>
                        <p>{{event.description}}</p>
                        <br>
                        <p style="text-overflow:ellipsis;color: #999;overflow: hidden;white-space: nowrap;font-size: 13px">
                            {{event.locations.name}}, {{event.locations.city}}
                        </p>
                        <button type="button" class="btn btn-default btn-">
                            <i class="fa fa-share"></i> Share
                        </button>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>


<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<h1>Welcome, Java Hipster!</h1>-->
<!--<p class="lead">This is your homepage</p>-->

<!--<div ng-switch="vm.isAuthenticated()">-->
<!--<div class="alert alert-success" ng-switch-when="true">-->
<!--You are logged in as user "{{vm.account.login}}".-->
<!--</div>-->

<!--<div class="alert alert-warning" ng-switch-when="false">-->
<!--If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the-->
<!--default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user"-->
<!--and password="user").-->
<!--</div>-->

<!--<div class="alert alert-warning" ng-switch-when="false">-->
<!--You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>-->
<!--</div>-->
<!--</div>-->

<!--<p>-->
<!--If you have any question on JHipster:-->
<!--</p>-->

<!--<ul>-->
<!--<li><a href="http://jhipster.github.io/" target="_blank">JHipster homepage</a></li>-->
<!--<li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank">JHipster on Stack Overflow</a>-->
<!--</li>-->
<!--<li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank">JHipster-->
<!--bug tracker</a></li>-->
<!--<li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank">JHipster public chat-->
<!--room</a></li>-->
<!--<li><a href="https://twitter.com/java_hipster" target="_blank">follow @java_hipster on Twitter</a></li>-->
<!--</ul>-->

<!--<p>-->
<!--<span>If you like JHipster, don't forget to give us a star on </span>&nbsp;<a-->
<!--href="https://github.com/jhipster/generator-jhipster" target="_blank">Github</a>!-->
<!--</p>-->

